@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Qwitcher+Grypen');

.fifth-wrapper {
  /* padding-top: 40px; */
  color: #DAA520;
  font-family: 'Josefin Sans', cursive;
  font-size: calc(8px + 2vmin);
  background-image: url('../Images/bg2.jpg');
  padding: 20px 0;
}

.bank-wrapper {
  width: 80%;
}

.verse {
  font-style: italic;
  text-align: center;
}

.greetings {
  padding-top: 20px;
  font-family: 'Dancing Script';
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}

.brides-name {
  font-size: calc(20px + 2vmin);
  font-family: 'Dancing Script';
  font-weight: 600;
}