@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.fourth-wrapper {
  font-family: 'Josefin Sans', cursive;
  font-size: calc(8px + 2vmin);
  background-image: url('../Images/bg2.jpg');
  padding-bottom: 20px;
}

.bank-wrapper {
  width: 80%;
}