@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Qwitcher+Grypen');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Combo');

.second-wrapper {
  /* padding-top: 70px; */
  font-family: 'Josefin Sans', cursive;
  font-size: calc(8px + 2vmin);
  background-image: url('../Images/bg2.jpg');
}

.greetings {
  padding-top: 20px;
  font-family: 'Dancing Script';
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: #DAA520;
}

.greetings-intro {
  color: #DAA520;
  text-align: justify;
  padding: 0 22px;
  font-size: calc(6px + 2vmin);
}

.brides-name {
  font-size: calc(20px + 2vmin);
  font-family: 'Dancing Script';
  font-weight: 600;
  color: #DAA520;
}

.card {
  border: 2px solid #DAA520;
}
